{% extends 'base.html' %}
{% load static %}

{% block body %}
    <h1>Integrify</h1>
    <div id="content"></div>
{#    <h3>Pate your URL to get started</h3>#}
{#    <input type="url" id="id-input-url">#}
{% endblock %}

{% block extra_script %}
{#     <script src="http://fb.me/react-0.10.0.min.js"></script>#}
{#    <script type="text/javascript" src="{% static 'js/integrity_url/criptor.js' %}"></script>#}
     <script type="text/babel" src="{% static 'js/integrity_url/url-component.js' %}"></script>
{#    <script type="text/jsx">#}
{#        ReactDOM.render(#}
{#                <InputUrl />,#}
{#                $('#content')#}
{#        );#}
{#    </script>#}
{% endblock %}